<div class="container">
  <form  (ngSubmit)="guardar()" #forma="ngForm">

    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Nombre</label>
      </div>
      <div>
        <input 
        type="text" 
        id="fname" 
        placeholder="Nombre"
        class="txtbox"
        name="nombre" 
        [(ngModel)]="persona.nombre"
        required
        minlength="3"
        #nombre="ngModel"
        [class.is-invalid]="nombre.invalid && nombre.touched"
        pattern="^[a-zA-ZñÑ\s]+$">
        <small class="text-danger" *ngIf="nombre.invalid && nombre.touched">
          Ingrese mas de 3 letras
        </small>
      </div>
    </div>
    

    <div class="row">
      <div class="col-5">
        <label for="fname" class="lbl">Direccion</label>
      </div>
    <div>
        <input 
          type="text" 
          id="fname" 
          placeholder="Direccion" 
          class="txtbox"
          name="direccion" 
          [(ngModel)]="persona.direccion" 
          required 
          #direccion="ngModel" 
          [class.is-invalid]="direccion.invalid && direccion.touched" 
          pattern="^[a-zA-ZñÑ\s]+$">
          <small class="text-danger" *ngIf="direccion.invalid && direccion.touched">
            Ingrese mas de 3 letras
          </small>
        </div>
    </div>
    


 <div class="row">
   <div class="lineas">
     <input type="checkbox" 
     id="check" 
     name="acept" 
     ngModel
     #accept="ngModel" 
     required
    >
    <label for="check" class="lbl"> Acepta los terminos y condiciones</label>
   </div>
 </div>

 

 <div class="row">
  <div class="alinea-btn">
    <button type="submit" class="btn" [disabled]="!forma.valid">Ir</button>
  </div>
</div>
</form>
</div> 



